# Python
__pycache__/
*.pyc
*.pyo

# Virtual envs
.venv/
.venv311/

# OS cruft
.DS_Store
Thumbs.db

# Build artifacts
/build/
dist/
*.spec

# App logs & large data
*.log
*.sbem
*.csv
pc-extractor-parser/dist/
pc-extractor-parser/build/

# Local config
pc-extractor-parser/config/settings.json
pc-extractor-parser/dist/
pc-extractor-parser/build/
